<%- include('partials/header') %>

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class='text-center mt-5'>Shar McLeod Portfolio</h1>
        </div>
    </div>

    <!-- to make sure rows have no more than 4 images per row -->
    <!-- we also organized data into groups of 4 objects -->
    <% data.forEach(el => { %>
        <% let key = Object.keys(el) %>
        <div class="row">
        <!-- using key[0] because each object in the array as 1 element, another array -->
        <!-- for each element in the object with pass the keys into the following html format -->
        <% el[key[0]].forEach(element => { %>
            <!-- grabbing variables from the objects using destructuring -->
            <% let { src, alt, href, content } = element %>
            <div class="col">
            <div class="img_container">
                <img src=<%=src %> alt=<%= alt %> srcset="">
            </div>
            <a href=<%= href %> target='_blank'>
                <h2 class='mt-3 mb-5 text-center'><%= content %></h2>
            </a>
            
            </div>
        <% }) %>
        </div>
    <% }) %>

</div>
<%- include('partials/footer') %>