<%- include("partials/header")  %> 

<h1>home page</h1>

<% posts.forEach(post => { %> 
    <%= post.topic  %> 
    <%= post.message  %> 
    <%= post.name  %> 
<% }) %> 

<%- include("partials/footer")  %> 