<%- include("partials/header") %>

<!-- bootstrap card -->
<div class="card">
    <div class="card-body">
        <h5 class="card-title"><%= post.topic  %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= post.name  %></h6>
        <p class="card-text"><%= post.message %></p>
    </div>
</div>

<%- include("partials/footer") %>